$lt-gray: #ddd;
$background-dark: darkred;
$background-light: darkgreen;
$background-pale: green;

// Height variables
$carousel-item-height: 200px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:200px;
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
    color: $lt-gray
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
}
.link {
    color: lightcoral;
    text-decoration: none;
}
.link:hover {
    color: orangered;
    text-decoration: none;
    
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar li{
    padding-left: 12px;
}
.footer .btn {
    margin-left: 15px;
   }

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 200px;
        }
    }
}
.carousel-caption p {
    padding-left: 50px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}



.modal label {
    color: black;
}
.modal .section {
    color: white;
}
.modal-header {
    background: rgb(65, 55, 55);
    color: $lt-gray;
    .close {
        color: $lt-gray;
    }
}


