.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 5px ridge;
    
    min-height:200px;
}

.footer{
    background-color: darkgreen;
    margin:0px auto;
    color: floralwhite;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: darkgreen ;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px;
    color: #0f0f0f;
}
.link { 
    color: lightpink;
} 
.link:hover { 
    color: darkcyan; 
} 
body {
    padding-top: 50px;
    z-index: 0;
}

.navbar li{
    padding-left: 15px;
}
.footer .btn {
 margin-left: 15px;
}
.tab-content {
    border-left: 1px solid #dddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 200px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
}
.carousel-caption p {
    padding-left: 50px;
}
.modal h3 {
    color: black;
}
.modal label {
    color: black;
}
.modal .section {
    color: white;
}